.container{
    padding: 1%;
    justify-content: center;
}

.navbar{margin-bottom: 15px}

.row{
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

table {
    text-align: center;
}